@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ------ Add your CSS below this line (or @import your other CSS files). ------- */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*, body {
    font-family: 'Outfit', sans-serif;
}

.courier_prime {
    font-family: 'Courier Prime', monospace;
}





.perspective-r {
    transform:
            perspective(75em)
            rotateY(-4deg);
}
.perspective-l {
    transform:
            perspective(75em)
            rotateY(4deg);
}

.pattern-1{
    background-color: #ffffff;
  
    background-image:  linear-gradient(#f1f1f1 1px, transparent 1px), linear-gradient(to right, #f1f1f1 1px, #ffffff 1px);
    background-size: 20px 20px;
}

.pattern-2 {
    background-color: #ffffff;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #f1f1f1, #f1f1f1 1px, #ffffff 1px, #ffffff);
}
